@{
    ViewBag.Title = "Exception Queue Rules Editor (Angular 2.x.x)";
}

<h2>Exception Queue Rules Editor (Angular 2.x.x)</h2>

<my-app>Loading...</my-app>

<div class="exruleeditor_code">
    <br />
    <b>Source Code:</b>
    <br />
    <a href="api/exrulesdata/1" target="exruleseditor2_model_json">Model JSON data</a>
    <br />
    <a href="scripts2/systemjs.config.js" target="exruleseditor2_systemjs.config">scripts2/systemjs.config.js</a>
    <br />
    <a href="scripts2/main.ts.txt" target="exruleseditor2_main">scripts2/main.ts</a>
    <br />
    <a href="scripts2/app.component.ts.txt" target="exruleseditor2_app.component">scripts2/app.component.ts</a>
    <br />
    <a href="scripts2/app.routes.ts.txt" target="exruleseditor2_app.routes">scripts2/app.routes.ts</a>
    <br />
    <a href="scripts2/app.services.ts.txt" target="exruleseditor2_app.services">scripts2/app.services.ts</a>
    <br />
    <a href="scripts2/exrules.editor.component.ts.txt" target="exruleseditor2_exrules.editor.component">scripts2/exrules.editor.component.ts</a>
    <br />
    <a href="scripts2/exrules.view.component.ts.txt" target="exruleseditor2_exrules.view">scripts2/exrules.view.component.ts</a>
    <br />
    <a href="scripts2/exrules.form.component.ts.txt" target="exruleseditor2_exrules.form">scripts2/exrules.form.component.ts</a>
    <br />
    <a href="scripts2/exrules.service.ts.txt" target="exruleseditor2_exrules.service">scripts2/exrules.service.ts</a>
    <br />
    <a href="scripts2/rxjs-operators.ts.txt" target="exruleseditor2_rxjs-operators">scripts2/rxjs-operators.ts</a>
    <br />
    <a href="view-source:http://demoapps-sevenseasteam.azurewebsites.net/templates/exruleseditor/Editor2_Exam_View.html" target="exruleseditor2_template_view">Angular Template (Editor2_Exam_View.html)</a>
    <br />
    <a href="view-source:http://demoapps-sevenseasteam.azurewebsites.net/templates/exruleseditor/Editor2_Exam_Form.html" target="exruleseditor2_template_form">Angular Template (Editor2_Exam_Form.html)</a>
    <br />
    <a href="scripts2/tsconfig.json.txt" target="exruleseditor2_tsconfig">scripts2/tsconfig.json</a>
    <br />
    <a href="scripts2/typings.json.txt" target="exruleseditor2_typings">scripts2/typings.json</a>
    <br />
    <a href="scripts2/package.json.txt" target="exruleseditor2_tsconfig">scripts2/package.json</a>
    <br />
</div>
