@{
    ViewBag.Title = "Exception Queue Rules Editor (ReactJS)";
}

<h2>Exception Queue Rules Editor (ReactJS [Facebook Flux])</h2>

<div id="exruleseditor"></div>

<div class="exruleeditor_code">
    <br />
    <b>Source Code:</b>
    <br />
    <a href="api/exrulesdata/1" target="exruleseditor2_model_json">Model JSON data</a>
    <br />
    <a href="scripts3/exruleseditorstore.js.txt" target="exruleseditorstore.jsx.txt">scripts3/exruleseditorstore.jsx</a>
    <br />
    <a href="scripts3/exruleseditor.js.txt" target="exruleseditor.jsx">scripts3/exruleseditor.jsx</a>
    <br />
    <a href="scripts3/exruleseditorview.js.txt" target="exruleseditorview.jsx.txt">scripts3/exruleseditorview.jsx</a>
    <br />
    <a href="scripts3/exruleseditorform.js.txt" target="exruleseditorform.jsx.txt">scripts3/exruleseditorform.jsx</a>
    <br />
    <a href="scripts3/ruleseditoractions.js.txt" target="ruleseditoractions.js.txt">scripts3/ruleseditoractions.js</a>
    <br />
    <a href="scripts3/ruleseditordispatcher.js.txt" target="ruleseditordispatcher.js.txt">scripts3/ruleseditordispatcher.js</a>
    <br />
    <a href="scripts3/ruleseditorconstants.js.txt" target="ruleseditorconstants.js.txt">scripts3/ruleseditorconstants.js</a>
    <br />
    <a href="scripts3/exruleseditorcontext.js.txt" target="exruleseditorcontext.js.txt">scripts3/exruleseditorcontext.js</a>
    <br />
</div>
